.navbar{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 83, 122, 0.89);
}
.links{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.navbar a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
}